.temp{
    font-size: 60px;
    border-radius: 1rem;
    
}

.other{
    border-radius: 0.5rem;
    font-size: x-large;
}
.other1{
    border-radius: 1rem;
    font-size: x-large;
    height: 10rem;
    
}
.city{
    font-size: xx-large;
    margin-bottom: 4rem;
}

.oth{
    
}

.weather-con{
    background-image: url("../assets/beautiful-scenery-beach-with-sunset-clouds.jpg") ;
    background-size: cover; /* Adjust to 'contain' if you want the whole image to be visible */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-position: center; /* Center the image */
    height: 25rem;
   
}

.card{
    width: 18rem;
    margin-left: 6rem;
    
    
}

.marg{
    margin-right: 6rem;
}

.feel{
    font-size: large;
}

.s-img{
    width: 20px;
    height: 20px;
}

.img-sub{
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    
}

.img{
    width: 200px;
    height: 190px;
    margin-left: 4rem;
}

.city{
    margin-left: 2rem;
}

.card-imgs{
    height: 170px;
}

