.temp{
    font-size: 80px;
}
.city{
    font-size: xx-large;
    margin-bottom: 4rem;
}

.oth{
    font-size: x-large;
}

.weather-con{
    background-color: #2a30d4be;
    margin-top: 5rem;
    border-radius: 1rem;
   
   
}

.s-img{
    width: 20px;
    height: 20px;
}

.img-sub{
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    
}

.img{
    width: 200px;
    height: 190px;
    margin-left: 4rem;
}

.city{
    margin-left: 2rem;
}